
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}


body{
	padding: 10px;
	font-family: "Lato", sans-serif ;
	
}



.header {
	width: 100%;
	position: fixed;
	padding: 15px;
	top: 0;
	left: 0;
	background-color: darkseagreen;
	z-index: 100;
	padding: 20px 20px;
	
}
.header__container {

	max-width: 1000px;
	margin: 0 auto;
	background-color: darkseagreen;

}
.header__list {
	font-size: 0;
	


}

.header__item {
	display: inline-block;
	position: relative;
	
}

.header__item:not(:last-child) {
	padding-right:  10px;
}

.header__link {
	font-size: 15px;
	
}


.header__item:hover .sub-list{
	top: 100%;
	visibility: visible;
	opacity: 0.7;
	transition: ease 0.3s all 0s;

}

.sub-list {
	display: block;
	position: absolute;
	min-width: 300px ;
	top: 50px;
	left: 0;
	background-color: rgb(173, 87, 87);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	border-radius: 0 35px ;

	

	
}
.sub-list__item:hover:first-child{
	border-radius: 0 35px 0 0 ;

}

.sub-list__item:hover:last-child{
	border-radius: 0 0 0 35px ;

}

.sub-list__item:not(:last-child) {
	margin-bottom: 10px;
}

.sub-list__item:hover{
	background-color: rgb(232, 152, 152);

}

.sub-list__item {
	color: aliceblue;
	padding: 10px;

}
.sub-list__link {
	font-size: 15px;

}




.car {


}
.car__white-block {

}
.car__windows {
	position: fixed;
	top: 360px;
	left: 350px;
	width: 400px;
	height: 130px;
	background-color:aqua;
	z-index: 4;
	border-radius: 50% ;
}

.car__windows--open{
	position: fixed;
	top: 370px;
	left: 350px;
	width: 390px;
	height: 130px;
	background-color:rgb(158, 99, 99);
	z-index: 5;
	border-radius: 50% ;
}



.car__main_block {
	position: fixed;
	border-radius: 50%  55px 0 0  ;

	top: 400px;
	left: 200px;
	width: 600px;
	height: 100px;
	background-color:aqua;
	z-index: 10;

}

.car__main_block{}

.car__wheel-1::before{
		content: "";
		display: inline-block;
		background: url("../img/wheel.svg") 0 0/ contain no-repeat ;
		height: 80px;
		width: 80px;
		position: absolute;
		top: 0px;
		left: 10px;
		z-index: 1;
	} 
	

	.car__wheel-1:hover::before{
		
		content: "";
		display: inline-block;
		height: 100px;
		width: 100px;
		transform: rotate(720deg) ;
		
		transition: all 2s ease 0s ;
	
	} 
	

	

.car__wheel-1{
	position: fixed;
	border-radius: 50% ;
	top: 460px;
	left: 250px;
	width: 100px;
	height: 80px;
	background-color:rgb(255, 255, 255);
	z-index: 11;
}

.car__wheel-2{
	position: fixed;
	border-radius: 50% ;
	top: 460px;
	left: 650px;
	width: 100px;
	height: 80px;
	background-color:rgb(255, 255, 255);
	z-index: 11;
}
.car__wheel-2::before{
	content: "";
	display: inline-block;
	background: url("../img/wheel.svg") 0 0/ contain  no-repeat ;
	height: 80px;
	width: 80px;
	position: absolute;
	top: 0px;
	left: 10px;
	z-index: 1;
	color: rgb(246, 19, 19);
} 

.car__wheel-2:hover::before{
	content: "";
	display: inline-block;
	height: 100px;
	width: 100px;
	transform: rotate(720deg) ;
	transition: all 2s ease 0s ;

	
} 

