
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Roboto:wght@100&display=swap');

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}



#start{
        color: blue;
        font-family: Lato;
        font-weight: 900;
}



a{
    font-family: 'Lato';
    font-weight: 400;
    color: rgb(58, 158, 189);
}



body{
    color:rgb(92, 90, 90);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1,
h3{
    font-family: Larsseit;
    font-weight: 900;
}
/*  */
/* перевага перед наступним селектором, бо є уточннення P до класу .green-block  */

.green-block p{
    color: brown;
}



.content-history-block .green-block{
    color: aquamarine;
}

/* перевага перед двома попередніми бо є уточннення до h3 */
.green-block.first-album  h3{
    color: rgb(6, 69, 21);
}

.magic-potion-album>p{
    color: rgb(220, 199, 6);
    font-family: Larsseit;
    font-weight: 400;
}

.brothers-album ~ div{
    color: blue;
}

.brothers-album + div{
    color: brown;
}


/*Селектор ID перебитий  рядковим (inline) стилем (атрибут style="")*/
#discography{
    color: rgb(161, 10, 10);
}
/* Колір повернуто за допомогою !important)*/
.content-discography-block{
    color: brown !important;
}

.content-discography-block h4{
    color: green;
}

 /*експериментальна конструкція))*/
.magic-potion-album + div span{
    color: #df0ab1;
    font-family: 'Lato';
    font-weight: 700;
}

.brothers-album ~ div span{
    color: #df0ab1;
    font-family: 'Lato';
    font-weight: 900;   
}