
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}


body{
	font-family: "Lato";
	color: #424551;
	font-weight: 400;
	
}



.courses__card--sixth-card .card__speciality{
	background-color:blue;
	color: aliceblue;
	display: inline-block;
}